<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sportproger.mpt">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MPT"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.GameActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.GamesActivity"
            android:exported="true" />

        <receiver
            android:name=".general.Notification"
            android:enabled="true" />

        <activity
            android:name=".presentation.StartActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.AboutActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.HelpProjectActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.LevelActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.LevelsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.SettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ThemesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>